* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
.activeTab {
  background: #323a82;
  cursor: none;
}
header {
  width: 1202px;
  height: 65px;
  background: #4c58a4;
  margin: 0 auto;
}
header h1 {
  color: cadetblue;
  line-height: 65px;
  margin: 0 10px;
}
header h1 {
  float: left;
}
header li {
  text-align: center;
  height: 65px;
  width: 88px ;
  float: left;
  cursor: pointer;
}
header li span {
  display: block;
  color: #e8eaf3;
}
header li span:first-child {
  margin-top: 14px;
  font-size: 16px;
}
header li span:last-child {
  font-size: 12px;
}
header li:hover {
  background: #323a82;
}
header li:hover span {
  color: #fff;
}
header p {
  float: right;
}
header p img {
  width: 48px;
  height: 48px;
  border-radius: 24px 24px;
  margin-top: 8px;
  float: left;
  margin-right: 10px;
}
header p span {
  cursor: pointer;
  color: #fff;
  line-height: 65px;
  margin-right: 10px;
}
header p span:hover {
  color: olivedrab;
}
.header {
  width: 1200px;
  height: 35px;
  background: #fff;
  margin: auto;
  border-bottom: 1px solid #ccc ;
  border-right: 1px solid #ccc ;
  border-left: 1px solid #ccc ;
}
